.cat{
	margin:auto;
}

img, .count, .name{
	display: none;
}

.catbutton{
	color:white;
	display: flex;
	flex-direction: column;
	background: black;
	border-color: white;
	border-style: solid;
	width:100px;
	left:0;

}

.active{
	display:initial;
}
